{#
{% for initiale in initiales %}
<div class=uiaccordion>
    <a href="#" onclick="return treeLoad(&quot;treeChild{{ initiale.initiale }}&quot;, &quot;repertoire_albums.php?action=treenode&amp;ref={{ initiale.initiale }}&amp;GroupBy=&quot;, this)">{{ initiale.initiale }}</a>&nbsp;&nbsp;&nbsp;- ({{ initiale._count }})
</div>
<div class=treeChildNode id=treeChild{{ initiale.initiale }} style="display:"></div>
{% endfor %}
#}

<div class=uiaccordion>
{% for initiale in initiales %}
        <h3>{{ initiale.initiale }}&nbsp;&nbsp;&nbsp;- ({{ initiale._count }})</h3>
        <div id=treeChild{{ class }}{{ initiale.initiale }}></div>
{% endfor %}
    </div>
    <script lang="text/javascript">
{% for initiale in initiales %}
        $('#treeChild{{ class }}{{ initiale.initiale }}').data('u', '{{ path('initiale_detail', {'class':class,'initiale': initiale.initiale}) }}');
{% endfor %}
        </script>