{% extends "BDThequeDataModelBundle::main.layout.html.twig" %}

{% block content %}
<h1>Serie list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Created</th>
            <th>Titre</th>
            <th>Terminee</th>
            <th>Sujet</th>
            <th>Notes</th>
            <th>Siteweb</th>
            <th>Suivremanquants</th>
            <th>Complete</th>
            <th>Suivresorties</th>
            <th>Couleur</th>
            <th>Nbalbums</th>
            <th>Vo</th>
            <th>Notation</th>
            <th>Initiale</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
                <td><a href="{{ path('serie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.version %}{{ entity.version|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.terminee }}</td>
                <td>{{ entity.sujet }}</td>
                <td>{{ entity.notes }}</td>
                <td>{{ entity.siteWeb }}</td>
                <td>{{ entity.suivreManquants }}</td>
                <td>{{ entity.complete }}</td>
                <td>{{ entity.suivreSorties }}</td>
                <td>{{ entity.couleur }}</td>
                <td>{{ entity.nbAlbums }}</td>
                <td>{{ entity.vo }}</td>
                <td>{{ entity.notation }}</td>
                <td>{{ entity.initiale }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('serie_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('serie_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('serie_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
