{% extends "BDThequeDataModelBundle::main.layout.html.twig" %}

{% block content %}
<h1>Personne</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ entity.version|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Biographie</th>
            <td>{{ entity.biographie }}</td>
        </tr>
        <tr>
            <th>Siteweb</th>
            <td>{{ entity.siteWeb }}</td>
        </tr>
        <tr>
            <th>Initiale</th>
            <td>{{ entity.initiale }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('personne_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button type="submit" class="uibutton">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
